.LoginPage{
    width: 100vw;
    height: 100vh;
    background-color: #1890ff;
    display: flex;
    align-items: center;
    justify-content: center;

}
.LoginPage .loginFormDiv{
    width: 700px;
    background: white;
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    /* justify-content: center; */
    padding: 20px 0px 50px 0px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0px 0px 7px -3px black;

}
.LoginPage .form{
    width: 80%;
}